 .sidebar{   height: 100%;
    
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #02265d;
    overflow-x: hidden;}
    .icon{
        color: white;
        font-size: 35px;
    }
   .link{
        text-decoration: none;
      }