.sidenav {
    height: 100%;
    
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #02265d;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top:80px;
    
  }
 
/* a{
  text-decoration: none;
} */
/* .sideIcon{
  font-size: 30px;
  display: flex;
  gap: 10px;
  font: 25px Arial sans-serif;
  padding: 10px  ;
color: white; } */
